# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\macie\OneDrive\Pulpit\STUDIA\2 ROK\SEMESTR 1\Testowanie automatyczne\Laboratoria\Laboratorium - 02.12\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
